*
{
  padding: 0;
  margin:0;
   box-sizing: border-box; 
}


/* pour les polices font*/

.titleBar,.lang,.greyl
{
    
    font-family: 'Akronim', cursive;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Parisienne', cursive;


}
#thisone
{
 position: absolute;
 margin-left:-25px; 
 margin-top:-15px; 
 visibility: hidden; 
}


.titleBar
{

   
     text-align: center;
     background: black;
     color: white;
     width: 100%;
     padding: 1em;
     margin-bottom: 2px;
}

.menuMobile
{
    width: 100%;
   display: flex;
   background: black;
   padding: 1em;
 
       display: flex;
       flex-wrap: wrap;
  
   justify-content: space-between;

    
    
    



}

.menuMobile i
{
    font-size: 20px;
    color: white;
    padding-right:25px; 
    
    margin-bottom: 2px;
}
.lang a
{

    color: white;
    text-decoration: none;
}
#bandolang
{


   visibility: visible;
}


.lang
{
  
width: 100%;
background: black;
display: flex;
flex-wrap: wrap;

justify-content: space-between;
color: white;
}
#piclang
{
  margin-left: 1%;

}
#phoneico
{
    color: white;
}
.lang p
{
 margin-right:10%;

}
.bleu
{
    background: blue;
}
.pink
{
background: rgba(235, 23, 224);
}

.btf,.bth
{
    
    font-size:1em;
    text-align: center;
    margin-bottom:12px; 
}
.btnHme
{
    width:25%;
    border-radius: 10px;
    border: none;
    background:whitesmoke;
}
.btnFme
{
    width:25%;
    border-radius: 10px;
    border: none;
    background:whitesmoke;
}
.fondpic
{
position: relative;
z-index: -1;
margin-top: -300px;
width: 100%;
  
    
}
.promotion
{
    height:90px;

}

.greyl
{
    font-size: 2em;
    background:grey;
    text-align:center;
    color:white;
    
}
.avis1
{
height: 200px;
min-width: 200px;
border-radius: 10px;
}


/*   slideshow*/
.carousel-inner
{


border-radius: 10px;

}
.gray
{
    background: grey;
}

.avisexemple
{

    height: 80px;
}

#logoSatisfaction
{

    position: relative;
    margin-top: -30px;
}


.foot
{
    height:100px;
}
#searchingbar
{
  background: black;
  color: antiquewhite;
  font-size: 26px;
  min-height:26px;
  display: none;
}
#searchingbar input
{
    height:1em;
}
.search
{
    height: 40px;
}
#navMobile
{
    display: none;
}
 .navMobileOnglet:hover
{
    background: grey;
    
}
#catProduit
{
 display:none;

}
#prop
{
 display:none;

}
.sol
{
    height: 100px;


}

.youtube
{
height: 80px;
width: 80px;
    background-image:url("../img/socia.png");
   background-position:  0px  0px;
  
}
.twi
{
height: 80px;
width: 80px;
    background-image:url("../img/socia.png");
   background-position:  0px  160px;
  
}
.fb
{
    height: 80px;
    width: 80px;
        background-image:url("../img/socia.png");
       background-position:  160px  0px;

}
.inst
{
    height: 80px;
    width: 80px;
        background-image:url("../img/socia.png");
       background-position:  80px  0px;

}

#connection
{
    
    z-index: 1;
    position: absolute;
   background: rgba(46, 46, 46);
   width: 200px;
   min-width: 200px;
   padding: 10px;
   border-radius: 10px;
   color: white;
   visibility: hidden;


}
#connection input 
{
    border-radius: 5px;
    width: 150px;
    min-width: 150px;

}

#languages
{
font-family: Arial, Helvetica, sans-serif;
  background: black;
  border: none;

}

.fa-user-plus
{
    color:black;
    font-size: 2em;
    position:relative;
    float:right;
}












